
<footer class="mt-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md">
                <h3 style="color: white;">Contact Us </h3>
            </div>
            <div class="col-md">
                <img style="width: 100px;" src="/img/allpic/tel.png">
            </div>
            <div class="col-md">
                <img style="width: 80px;" src="/img/allpic/line.png">
            </div>
            <div class="col-md">
                <img style="width: 140px;" src="/img/allpic/mail.png">
            </div>
        </div>
    </div>
</footer>