<nav class="navbar navbar-expand-lg navbar-light bg-nav fixed-top">
    <div class="container">
       <a class="navbar-brand"><img class="logo" src="/img/allpic/logo.png" alt=""></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
 
       <div class="collapse navbar-collapse  d-flex justify-content-around" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto ">
             <li class="nav-item">
             </li>
           </ul>
           <form class="form-inline my-2 my-lg-0">
             <a href="/logout" class="btn" style="color: #ddd;text-decoration: none;
             width: 100px;height: 38px;
             background: #394867;
             box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
             border-radius: 100px;">LogOut</a>
           </form>
       </div>
    </div>
 </nav>